[Desktop Entry]
Name=Gambas3
Comment=Gambas3 Integrated Development Environment
Keywords=Gambas3
Exec=gambas3
Type=Application
Icon=gambas3
Categories=Development;
